.category-title {
    color: #fece1a;
    padding: 30px 0 30px;
}
.product-cart {
    border: solid 2px #fece1a;
    background: white;
}
.product-cart:hover {
    border-bottom: solid 3px #000;
}

.cart-product-title {
    font-size: 17px;
    background-color: #ffffff;
}

.cart-product-title h3{
    color: #fece1a;
    line-height: 20px;
}
.cart-product-title p {
    margin: 0;
    margin-bottom: 20px;
    color: #000;
    margin-top: 20px;
    font-size: 15px;
}
.btn-did:hover{
    color: #fff !important;
    background-color: #c34d4a !important;
}

.btn-did:active, .btn-did:visited, .btn-did:focus {
    color: #fff !important;
}

.btn-did {
    color: #fff;
    background-color: #eb605d;
    border-color: #eb605d;
    border-radius: 0;
}

.btn.btn-outline.did {
    border-color: #171717 !important;
    color: #171717 !important;
    background: 0 0;
    border-radius: 0;
    width: 30%;
}

.btn.btn-outline.did:hover {
    border-color: #171717;
    background-color: #171717;
    color: #fff !important;
    width: 30%;
}
.btn.btn-outline.did.cart {
    border-color: #171717 !important;
    color: #171717 !important;
    background: 0 0;
    border-radius: 0;
    width: 30%;
}
.btn.btn-outline.did.cart:hover {
    border-color: #171717;
    background-color: green;
    color: #fff !important;
    width: 30%;
}
.checkbox-menu {
    color: white;
    list-style-type: none;
    border: dashed 1px #ffffff;
    padding: 10px 5px 10px 10px;
}
.checkbox-name {
    font-size: 17px;
}
#catalog-product {
    background: url(../images/catalog_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(100vh - 80px);
}
#cart-product {
    background: url(../images/bg_product.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(100vh - 80px);
}
.checkbox-menu a {
    color: white;;
    list-style-type: none;
}
.checkbox-menu a:hover {
    color: #6bbde6;
}
.price {
    color: green;
}
.product-action {
    display: block;
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    clear: both;
    padding: 5px;
}

.description-product {
    color: white;
    list-style-type: none;
    border: dashed 1px #ffffff;
    padding-bottom: 15px;
}
.product-label {
    margin: 0px;
    color: white;
}

.breadcrumbs {
    color: white;
    text-decoration: underline #6bbde6 ;
}
.breadcrumbs a:hover{
    color: #6bbde6;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: white;
}

.product-label a {
    text-decoration: underline #6bbde6 ;
}

.product-label a:hover {
    color: #6bbde6;
}

.description-product .product-property {
    color: #ffce1a;
    font-size: 18px;
}
.button-count {
    padding-left: 10px;
    display: block;
    padding-bottom: 10px;
}

#count {
    width: 20px;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

.count-product {
    border-color: white;
    color: white;
    background: 0 0;
    border-radius: 0;
}

.btn.button-cart {
    border-color: white;
    color: white;
    background: 0 0;
    border-radius: 0;
    margin-left: 9px;
}

.btn.button-cart:hover {
    border-color: white;
    color: white;
    background: green;
    border-radius: 0;
}

.product-description {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-description h3 {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}
#reviews {
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}

.tab-title {
    display: block;
    margin-top: 10px;
    position: relative;
    float: right;
    margin-right: 10px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

.tab-title:hover {
    background-color: #00A0D1;
    text-decoration: none;

}

.activate {
    background-color: #00A0D1;
}

.gallery {
    float: right;
}

#cart-view {
    background: url(../images/cart_bg-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(100vh - 80px);
}

.count-products {
    /*visibility: hidden;*/
    position: absolute;
    margin-top: 7px;
    margin-left: 25px;
}

.btn-cart {
    background: 0;
    color: #fff !important;
    border: solid 1px #ffce1a;
}

.btn-cart:hover {
    background: 0;
    color: #fff !important;
    border: solid 1px red;
}

.product-img {
    display: inherit;
    margin-bottom: 10px;
}

.cart-link {
    color: #ffce1a;
    text-decoration: underline;
}

.cart-link:hover {
    color: #00A0D1;
}

.prod-cunt input {
    margin-bottom: 0;
    border-radius: 0;
}

.count {
    width: 20px;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

.in-cart {
    margin-top: 60px;
}

.btn-cart-order {
    background: 0;
    color: #fff !important;
    border: solid 1px #ffce1a;
}

.btn-cart-order:hover {
    background: 0;
    color: #fff !important;
    border: solid 1px green;
}

.btn-cart-submit {
    background: #00A0D1;
    color: #fff !important;
    border: solid 1px #ffce1a;
}
.btn-cart-submit:hover {
    background: green;
    color: #fff !important;
    border: solid 1px green;
}

#cartModal {
    color: black;
}

.modal-body p{
    color: black;
}

.help-block {
    color: red;
}

