body {
    background-color: #212121 !important;
}

.page-sidebar-menu {
    background-color: #212121 !important;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background-color: #eb605d !important;
}

.page-logo img {
    margin-top: 14px;
    margin-left: 30%;
}

.page-header.navbar {
    background-color: #171717 !important;
}

.portlet-body a {
    text-shadow: none;
    color: #171717 /*!important*/;
}

.portlet-body a:hover {
    cursor: pointer;
    color: #171717 /*!important*/;
}

@media (min-width: 992px) {
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a {
        margin-top: 10px;
    }
}

.btn-did:hover{
    color: #fff !important;
    background-color: #c34d4a !important;
}

.btn-did:active, .btn-did:visited, .btn-did:focus {
    color: #fff !important;

}

.btn-did {
    color: #fff;
    background-color: #eb605d;
    border-color: #eb605d;
}

.btn.btn-outline.did {
    border-color: #171717 !important;
    color: #171717 !important;
    background: 0 0;
}

.btn.btn-outline.did:hover {
    border-color: #171717;
    background-color: #171717;
    color: #fff !important;
}

.staff-green {
    color: green !important;
}

.staff-blue {
    color: blue !important;
}

.staff-orange {
    color: deeppink !important;
}

.staff-black {
    color: black !important;
}

.staff-red {
    color: red !important;
}

.grid-staff-members {
    border-bottom: none !important;
}

.order-status {
    cursor: pointer;
}

.checkbox-status {
    list-style: none;
    padding: 0;
}
.popover-content {
    padding: 10px 33px;
}

.checkbox-status li > input {
    margin-right: 6px;
}

.status-ordered {
    background: #00bfff; width: 100%;
}

.status-ordered:hover {
    background: #00bfff; width: 100%;
}

.status-ordered:focus {
    background: #00bfff; width: 100%;
}

.status-completed {
    background: #77d280; width: 100%;
}

.status-completed:hover {
    background: #77d280; width: 100%;
}

.status-completed:focus {
    background: #77d280; width: 100%;
}

.status-in-completed {
    background: #c5c3ff; width: 100%;
}

.status-in-completed:hover {
    background: #c5c3ff; width: 100%;
}

.status-in-completed:focus {
    background: #c5c3ff; width: 100%;
}

.status-refuse {
    background: #f2645b; width: 100%;
}

.status-refuse:hover {
    background: #f2645b; width: 100%;
}

.status-refuse:focus {
    background: #f2645b; width: 100%;
}

.status-pending {
    background: #efc620; width: 100%;
}

.status-pending:hover {
    background: #efc620; width: 100%;
}

.status-pending:focus {
    background: #efc620; width: 100%;
}